@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "froala_editor.min.css";
@import "froala_style.min.css";
@import "font-awesome-sprockets";
@import "font-awesome";


.navbar {
  @extend .grey, .lighten-4;
}

#logo-container {
  @extend .blue-grey-text;
}

h2 {
  font-size: 1.5rem;
}
